*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-action {
  background-color: rgb(255, 236, 113);
  color: #333;
}

.btn-action:disabled {
  background-color: transparent;
  border: 1px solid rgb(255, 236, 113);
}